@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body {
  zoom: 0.9;
}

.doctor-slider-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
